.modal {
  padding: 1em;
  max-width: 50ch;
  // remove the default <dialog> styling
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  border-radius: 0.25rem;

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
  //background: black;
  opacity: 0;

  // transition on opacity does not work.
  //transition: opacity 500ms;
}

.modal[open] {
  animation: fade-in 500ms forwards; // forwards means stop at the end of the animation
}

// our own custom property. this is different from 'open' which is offically come with dialog in html
.modal[closing] {
  display: block;
  // prevent the pointer event on the button on the modal and text in the modal being able to high lined
  // and keyboard still able to navigate to it through tab
  pointer-events: none;
  inset: 0;

  // This will make closing of modal work but on launch it will make modal appear then disappear as well
  animation: fade-out 500ms forwards;
}

.modal[open]::backdrop {
  // transition on opacity does not work.
  //opacity: 1;

  // animate on opacity does work for all browser except for firefox
  animation: fade-in 500ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* extra styling */

body {
  --gray-2: #e9ecef;
  --gray-8: #343a40;
  --cyan-9: #0b7285;
  --size-2: 0.5rem;
  --size-4: 1.25rem;

  min-height: 100vh;
  margin: 2rem;
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--gray-8);
}

h1 em {
  color: var(--cyan-9);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.button {
  border: 0;
  cursor: pointer;
  background: var(--gray-8);
  color: var(--gray-2);
  font-weight: 700;
  padding: var(--size-2) var(--size-4);
}

.button:hover,
.button:focus {
  background: var(--cyan-9);
}

form {
  display: grid;
  gap: 1em;
}
